:root {
    /* --font-color : #E2E2B6; 
    --background-color: hsl(208, 90%, 8%);
    --heading-color: #E2E2B6 ; 
    --font-heading: black; */
    --bg-lighter : hsl(208, 90%, 12%);

    --popup-bg : #E2E2B6; 
    --popup-color : hsl(208, 90%, 8%) ; 
    --popup-heading  :  hsl(208, 90%, 8%) ; 
    --popup-heading-color : #E2E2B6 ; 

    /* --primary-font: obviously-narrow, sans-serif;
    --secondary-font: halyard-display, sans-serif; */

    /* for html page  */
    --page-bg : #E2E2B6 ;
    --page-heading :  hsl(208, 90%, 8%); 
    --page-font: white ; 


    --color-red: red;
    --color-yellow: #9d9d10;
    --color-green: green;
    --color-grey: grey;
    --color-purple: purple;
    --color-pink: #d57485;
    --color-default: var(--popup-heading);


}

.select {
    background-color: var(--page-heading);
    filter: brightness(0.9); 
    color: white !important ; 
}

/* Custom styles for tooltips */
.custom-tooltip .tippy-box {
    font-size: 10px !important; /* Adjust font size */
    padding: 10px !important; /* Adjust padding if needed */
    background-color: var(--bg-lighter) !important;
}


/* Base style for icons */
 svg {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    outline: none;
}

/* Pressed effect */
 svg:active {
    transform: scale(0.9); /* Slightly reduce size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow to simulate depth */
    outline: none;
}