:root {
    --primary-color: #508C9B;
    --secondary-color: #134B70; 
    --background-color: #201E43;
    --heading-color: #EEEEEE;
    --font-color : #333
    /* --primary-font: obviously-narrow, sans-serif;
    --secondary-font: halyard-display, sans-serif; */
}

.select {
    background-color: var(--heading-color);
    color : var(--font-color)
}