:root {
    --font-color : #E2E2B6; 
    --background-color: hsl(208, 90%, 8%);
    --heading-color: #E2E2B6 ; 
    --font-heading: black;
    --note-heading : yellow  ;
    /* --primary-font: obviously-narrow, sans-serif;
    --secondary-font: halyard-display, sans-serif; */
}

.select {
    background-color: var(--heading-color);
    color : black
}