pre {
    margin:  0px !important;
}

.note-container {
    background-color: var(--popup-bg);
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Combine translate and scale */
    color: white;
    border-radius: 5px;
    width: 5%;
    height: 30%;
    min-width: 242px !important;
    min-height: 278px !important;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}


.note-container.show {
    transform: translate(-50%, -50%) scale(1); /* Maintain centering and scale to normal size */
    opacity: 1;
}
.note-container.close {
    transform: translate(-50%, -50%) scale(0);
}
.note-title {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: var(--popup-heading);
    color: var(--popup-heading-color);
    padding: 10px;
    cursor: move; /* Ensures it's visually clear that this area is draggable */
}
.add-btn {
    background: transparent;
    border: none ;
}
.note-content{
    overflow: hidden;
}
.textarea {
    color: black;
    outline: none;
    padding: 10px;
    border: none;
    width: auto;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    height: 75%;

}
.close-btn{
    background : transparent ; 
    border:  none ;  
}

.bg-transparent{
     background: transparent;
}

.pin{
    border: none ;
}

.heading{
    font-size: 14px !important;
}

.selected {
    background-color: var(--popup-heading-co);
    filter: brightness(0.4); 

}

svg {
    width: 16;
    height: 16;
    fill: white;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}


/* Pressed effect */
 svg:active {
    transform: scale(0.9); /* Slightly reduce size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow to simulate depth */
}

