pre {
    margin:  0px !important;
}

.note-container {
    background-color: var(--popup-bg);
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Combine translate and scale */
    color: white;
    border-radius: 5px;
    width: 5%;
    height: 30%;
    min-width: 242px !important;
    min-height: 278px !important;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}




.options{
    background-color: transparent;
    border: none ;
}


.color-palette{
    display: none;
    right: 1px;
    position: absolute;
    align-items: center;
    background-color: var(--popup-heading);
    color: var(--popup-heading-color);
    cursor: move;
}

.color-btn {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease; /* Smooth hover effect */
}

.color-btn:hover {
    transform: scale(1.1); /* Enlarge the button on hover */
}

.note-container.show {
    transform: translate(-50%, -50%) scale(1); /* Maintain centering and scale to normal size */
    opacity: 1;
}
.note-container.close {
    transform: translate(-50%, -50%) scale(0);
}
.note-title {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: var(--popup-heading);
    color: var(--popup-heading-color);
    padding: 10px;
    cursor: move; 
}
.add-btn {
    background: transparent;
    border: none ;
}
.note-content{
    overflow: hidden;
}
.textarea {
    color: black;
    outline: none;
    padding: 10px;
    border: none;
    width: auto;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    height: 75%;

}
.close-btn{
    background : transparent ; 
    border:  none ;  
}

.bg-transparent{
     background: transparent;
}

.pin{
    border: none ;
}

.heading{
    font-size: 14px !important;
}

.selected {
    background-color: transparent;
  }

  
  .disable {
    background-color: var(--heading-color);
    filter: brightness(0.5); 
  }

svg {
    width: 16;
    height: 16;
    fill: white;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}


/* Pressed effect */
 svg:active {
    transform: scale(0.9); /* Slightly reduce size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow to simulate depth */
}

.color-red {
    background-color: var(--color-red);
  }
  .color-yellow {
    background-color: var(--color-yellow);
  }
  .color-green {
    background-color: var(--color-green);
  }
  .color-grey {
    background-color: var(--color-grey);
  }
  .color-purple {
    background-color: var(--color-purple);
  }
  .color-pink {
    background-color: var(--color-pink);
  }
  .color-default {
    background-color: var(--color-default);
  }


