.stickyNoteSideBar {
    background-color: var(--background-color); /* Light gray background for sidebar */
    padding: 1rem;
    color : var(--heading-color); 
    opacity: 1; /* Make sidebar visible */
    transform: translateX(0); /* Slide the sidebar into view */
    transition: transform 0.3s ease, opacity 0.3s ease, width 0.3s ease;
  }

  .sideBarCloseBtn {
    opacity: 0;
    transform: translateX(-100%); 
    width: 0% !important; /* Reduce width to zero */
    overflow: hidden;
    padding: 0;
  }
  .contentContainer {
    padding: 1rem;
    background-color: var(--background-color);
    color:var(--heading-color);
    height: 90vh;
    overflow: auto;
  }
  .heading {
    background-color: var(--heading-color); /* Dark background for heading */
    padding: 1rem;

  }

  .bg-custom{
    background-color: var(--background-color);
  }

  .custom-margin-10{
    margin-left: 10px ;
  }


  .cursor-pointer{
    cursor: pointer !important;
  }

  .resize {
    resize: both;
  }

  .textarea {
    white-space: pre-wrap; /* CSS property to preserve white spaces and line breaks */
    word-wrap: break-word; /* Ensures long words break into the next line */
}

.textAreaForNotes {
  white-space: pre-wrap; /* Preserve white spaces and line breaks */
  word-wrap: break-word; /* Ensure long words break into the next line */
  overflow: hidden; /* Prevent scroll bars */
}

.marginL-auto{
  margin-left: auto ; 
}
.gridView {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  justify-items: center;
  height: fit-content;
}
.card-size{
  height: fit-content !important;
}


.sideBarOpen{
  position: relative;
  width: 1rem;
  right: 9px ;
}
.sideBarClose{
  position: relative;
  width: 2px;
  background-color: wheat;
  /* left: 10%; */
  left: 1rem;
  margin-right: 2rem;
}

.open-position{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  position: absolute;
  top: 4%;
  color: black;
  border-radius: 99rem;
  height: 1.3rem;
  background-color: white;
}

