.stickyNoteSideBar {
    background-color: #202124; /* Light gray background for sidebar */
    padding: 1rem;
    color : white; 
  }
  .contentContainer {
    padding: 1rem;
    background-color: #202124;
    color: white;
    height: 90vh;
    overflow: auto;
  }
  .heading {
    background-color: #202124; /* Dark background for heading */
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 1.5rem;
  }

  .bg-custom{
    background-color: #202124;
  }

  .custom-margin-10{
    margin-left: 10px ;
  }

  .list_notes{
    /* height: 90vh;
    overflow: auto; */
  }

  .curser-pointer{
    cursor: pointer !important;
  }

  .resize {
    resize: both;
  }

  .textarea {
    white-space: pre-wrap; /* CSS property to preserve white spaces and line breaks */
    word-wrap: break-word; /* Ensures long words break into the next line */
}

.textAreaForNotes {
  white-space: pre-wrap; /* Preserve white spaces and line breaks */
  word-wrap: break-word; /* Ensure long words break into the next line */
  overflow: hidden; /* Prevent scroll bars */
}

.marginL-auto{
  margin-left: auto ; 
}
.gridView {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  justify-items: center;
  height: fit-content;
}
.card-size{
  height: fit-content !important;
}
